{% extends 'bbs/base.html' %}
{% block articles %}
    {% for article in page_queryset %}
        <ul class="media-list">
            <li class="media">
                <h4 class="media-heading"><a href="{% url 'bbs:articledetail' username article.pk %}">{{ article.title }}</a></h4>
                <div class="media-body">
                    {{ article.desc|truncatechars:200 }}
                </div>
            </li>
            <div class="pull-right">
                <span>posted</span>
                <span>@</span>
                <span>{{ article.create_time|date:'Y-m-d H:i:s' }}</span>
                <span>{{ article.site.user.username }}</span>
                &nbsp;&nbsp;<span><span
                    class="glyphicon glyphicon-comment glyphicon-align-left"></span>&nbsp;{{ article.comment_num }}</span>
                &nbsp;&nbsp;<span><span
                    class="glyphicon glyphicon-thumbs-up glyphicon-align-left"></span>&nbsp;{{ article.up_num }}</span>
                &nbsp;&nbsp;<span><span
                    class="glyphicon glyphicon-thumbs-down glyphicon-align-left"></span>&nbsp;{{ article.down_num }}</span>
                &nbsp;&nbsp;<span>&nbsp;<a href="#">编辑</a></span>

            </div>
        </ul>

        <hr>
    {% endfor %}
    {{ page_obj.page_html|safe }}
{% endblock %}
{% block foot_js %}
    <script>
        //修改密码
        $("#submit_password").click(function () {
            $.ajax({
                url: '{% url 'bbs:changepassword' %}',
                method: 'post',
                data: {
                    'username': $("#username").val(),
                    'oldpassword': $("#oldpassword").val(),
                    'newpassword': $("#newpassword").val(),
                    'confirmnewpassword': $("#confirmnewpassword").val()
                },
                success: function (res) {
                    switch (res.code) {
                        case 200:
                            swal("已保存!", "密码修改成功!", "success", location.reload())
                            break
                        case 201:
                        case 202:
                        case 203:
                            $("#error").text(res.msg)
                            break
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })
    </script>
{% endblock %}