{% extends 'book/extend.html' %}
{% block pannel %}
    <a class="btn btn-primary" type="button"  href="{% url 'book:addbook' %}">增加</a><hr>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <td class="active">序号</td>
            <td class="success">名称</td>
            <td class="warning">价格</td>
            <td class="danger">作者</td>
            <td class="active">出版社</td>
            <td class="success">出版日期</td>
            <td class="warning">操作</td>
        </tr>
        {% for book in books %}
            <tr>
                <td class="active">{{ book.pk }}</td>
                <td class="success">{{ book.name }}</td>
                <td class="warning">{{ book.price }}</td>
                <td class="danger">{% for author in book.authors.all %}
                    {{ author.name }}
                    {% if not forloop.last %}
                        、
                    {% endif %}
                {% endfor %}
                </td>
                <td class="success">{{ book.publish.name }}</td>
                <td class="active">{{ book.publishTime|date:'Y-m-d' }}</td>
                <td class="warning">
                    <a href="{% url 'book:editbook' book.pk %}" type="button" class="btn btn-primary" >编辑</a>
                    <a href="{% url 'book:deletebook' book.pk %}" type="button" class="btn btn-danger">删除</a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}