{% extends 'book/index.html' %}

{% block middle %}
    <form action="{% url 'book:saveedit' %}" method="post">
        <p>书名:<input class="form-control hidden" type="text" name="id" value="{{ book.pk }}"></p>
        <p>书名:<input class="form-control" type="text" name="name" value="{{ book.name }}"></p>
        <p>价格:<input class="form-control" type="text" name="price" value="{{ book.price }}"></p>
        <p>发布日期:<input class="form-control" type="date" name="publishTime" value="{{ book.publishTime|date:'Y-m-d' }}">
        </p>
        <p>出版社:
            <select class="form-control" name="publish">
                {% for publish in publishs %}
                    {% if book.publish.pk == publish.pk %}
                        <option value="{{ publish.pk }}" selected>{{ publish.name }}</option>
                    {% else %}
                        <option value="{{ publish.pk }}">{{ publish.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        <p>作者:
            <select multiple class="form-control" name="authors">
                {% for author in authors %}
                    {% if author in book.authors.all %}
                        <option value="{{ author.pk }}" selected>{{ author.name }}</option>
                    {% else %}
                        <option value="{{ author.pk }}">{{ author.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <p><input type="submit" class="btn btn-primary btn-block"></p>
    </form>
{% endblock %}