<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <!-- 使用bootstrap动画必须引入，动画依赖jquery -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <!-- 第三方弹窗 -->
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
</head>
<body>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <form action="" method="post" novalidate>
            {% comment %}用户名：<input type="text" name="uname" class="form-control">
            密码：<input type="password" name="password" class="form-control">{% endcomment %}

            {% comment %}<p>{{ form_obj.uname.label }}:{{ form_obj.uname }}</p>
            <p>{{ form_obj.password.label }}:{{ form_obj.password }}</p>
            <p>{{ form_obj.email.label }}:{{ form_obj.email }}</p>{% endcomment %}

            {% for form in form_obj %}
                <p>{{ form.label }}:{{ form }}<span style="color: red">{{ form.errors.0 }}</span></p>
            {% endfor %}


            <input type="submit" value="登录" class="form-control btn btn-success btn-primary">
        </form>
    </div>
</div>

</body>
</html>