<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    {% load static %}
    <!-- 使用bootstrap动画必须引入，动画依赖jquery -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}

    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <!-- 第三方弹窗 -->
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <!-- 全局跨域处理 -->
    <script src="{% static 'js/setup.js' %}"></script>
    {% block head_js %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="{% url 'bbs:usersite' request.user.username %}">{{ request.user.site.name }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'bbs:home' %}">博客 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'bbs:login' %}">登录</a></li>
                    <li><a href="{% url 'bbs:register' %}">注册</a></li>
                {% else %}
                    <li><a href="#"><img src="/bbs/media/{{ request.user.avatar }}" width="30px" height="30px"
                                         class="img-circle"></a></li>
                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更多<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#changepassword">修改密码</a></li>
                            <li><a href="#">修改头像</a></li>
                            <li><a href="{% url 'bbs:backend' %}">后台管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'bbs:logout' %}">退出登录</a></li>
                        </ul>
                    </li>
                    <!-- Modal -->
                    <div class="modal fade" id="changepassword" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="group-form">
                                        <label>登录名</label>
                                        <input type="text" id="username" class="form-control" disabled
                                               value="{{ request.user.username }}">
                                    </div>
                                    <div class="group-form">
                                        <label>原密码</label>
                                        <input type="password" id="oldpassword" class="form-control">
                                    </div>
                                    <div class="group-form">
                                        <label>新密码</label>
                                        <input type="password" id="newpassword" class="form-control">
                                    </div>
                                    <div class="group-form">
                                        <label>确认密码</label>
                                        <input type="password" id="confirmnewpassword" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <span id="error" class="pull-left" style="color: red"></span>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" id="submit_password">提交</button>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="col-md-2">
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                    <h4 class="panel-title">
                        <label class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup1"
                           aria-expanded="true" aria-controls="collapseListGroup1">
                            更多操作 <span class="glyphicon glyphicon-menu-down"></span>
                        </label>
                    </h4>
                </div>
                <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="collapseListGroupHeading1" aria-expanded="false" style="height: 0px;">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'bbs:addarticle' %}">添加文章</a></li>
                        <li class="list-group-item">添加随笔</li>
                        <li class="list-group-item">其他</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#article" aria-controls="article" role="tab"
                                                          data-toggle="tab"><span class="glyphicon glyphicon-list">&nbsp;</span>文章管理</a></li>
                <li role="presentation"><a href="#mark" aria-controls="mark" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil">&nbsp;</span>随笔</a>
                </li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cog">&nbsp;</span>Settings</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="article">
                    {% block article %}
                    {% endblock %}
                </div>
                <div role="tabpanel" class="tab-pane" id="mark">
                    {% block marks %}
                    {% endblock %}
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">
                    {% block settings %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>
{% block foot_js %}
{% endblock %}
</body>
</html>