{% extends 'bbs/backend/base.html' %}
{% block settings %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-left">个人资料</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <label for="myAvatar">
                                    <img id="myAvatarImg" class="img-circle media-object"
                                         src="/bbs/media/{{ request.user.avatar }}"
                                         width="100px" height="100px">
                                </label>
                                <input type="file" name="avatar" id="myAvatar" style="display: none">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ request.user.username }}</h4>
                                站点：<span><a
                                    href="{% url 'bbs:usersite' request.user.username %}">{{ request.user.site.name }}</a></span><br>
                                标签：<span><input id="site_title" name="site_title" type="text"
                                                style="border: none; background: none" disabled
                                                value="{{ request.user.site.title }}"></span><span id="editSite"
                                                                                                   class="glyphicon glyphicon-edit"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <input type="submit" id="submit" class="btn btn-primary" value="保存设置">
            </form>
        </div>
    </div>

{% endblock %}
{% block foot_js %}
    <script>
        //用户选择头像并展示
        $('#myAvatar').change(function () {
            //利用文件阅读器对象
            //先生成一个文件阅读器对象
            let fileReader = new FileReader();
            //获取用户选择的头像
            let file = $(this)[0].files[0];
            //将文件交给文件阅读器对象读取
            fileReader.readAsDataURL(file) //这是一个异步io操作
            //需要等待异步操作执行完成
            fileReader.onload = function () {
                //利用文件阅读器将文件展示在页面上
                $('#myAvatarImg').attr('src', fileReader.result)
            }
        })
        $("#editSite").click(function () {
            let siteTitle = $("#site_title");
            siteTitle.removeAttr("disabled")
            let value = siteTitle.val();
            siteTitle.val("").focus().val(value)
        })
    </script>
{% endblock %}