<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- 使用bootstrap动画必须引入，动画依赖jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- 第三方图标库 -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 第三方弹窗 -->
{#    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>#}
</head>
<body>
{#前端反向解析#}
<a href="{% url 'ooo' %}">111</a>
<a href="/func/">222</a>
<a href="/func/">333</a>
<a href="/func/">444</a>
<a href="/func/">555</a>
<a href="/func/">666</a>
<a href="/func/">777</a>
</body>
</html>